#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 1;
  /* pointer-events: none; */
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}
#aHTMLTooltip {
  display: none !important
}
#sidebar {
  min-width: 5px !important;
}
/*
 * Hide tab bar, navigation bar and scrollbars
 * !important may be added to force override, but not necessary
 * #content is not necessary to hide scroll bars
 */

/* #navigator-toolbox {visibility: collapse;} */

browser {margin-right: 0px; margin-bottom: 0px;}

statuspanel {display:none!important;}
addon-bar {display:none!important;}

#main-window:not([customizing]):not([tabsintitlebar="true"]) #TabsToolbar {
  visibility: collapse;
}
#navigator-toolbox {
  margin-top: 1px;
}
#sidebar-box #sidebar-header {
  visibility: collapse;
}

/* Moves the main toolbar (#nav-bar) to the bottom of the window */

/* REQUIRES browser.urlbar.update1 to be true, otherwise urlbar won't show any results */

#browser,
#customization-container{ margin-bottom: var(--uc-bottom-toolbar-height,0px) }

#nav-bar{
  position: fixed !important;
  bottom: 0px;
  /* display: flex; */
  /* flex-grow: 2; */
  height: 30px;
  /* font-size: 5px; */
  width: 100%;
  /* z-index: 1; */
}

/* #nav-bar-customization-target{ flex-grow: 1; } */

#urlbar{
    visibility:collapse;
}
